@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px);}
  to { opacity: 1; transform: translateY(0);}
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease;
}
html {
  scroll-behavior: smooth;
}
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-marquee {
  animation: marquee 28s linear infinite;
}
@keyframes marquee-long {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-marquee-long {
  animation: marquee-long 38s linear infinite;
}